* {
    margin: 0px;
    padding: 0px;
}

.titulo {
        padding-top: 26px;
        padding-bottom: 12px;
        font-size: 70px;
        font-family: Minion Regular;
}
.subtitulo{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
h2 {
    font: bold 14px verdana, sans-serif;
    
}
.eader,  footer, aside,  figure, figcaption, {
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    
}
.hgroup{
    display:block;
    border-radius: 12px;
    justify-content: flex-start;
    
}
nav {
    margin-left: 0;
    background: #ffffff;
    font: bold 14px monospace, sans-serif;
    border-radius: 300px;
    align-items: 10px;
    justify-content: solidcolor, blac;
    margin: 0;
   
    
}

.h11 {
    margin-left: 0;
font: bold 360px verdana, sans-serif;
text-shadow: rgb(0, 0, 150) 3px 3px 5px; /*/FONDE DE LETRA*/
font: bold 14px monospace, sans-serif;
justify-content: space-between;}

.hgroup1 {
.h13 {color: red};

}


.header1 {
    display:block;

}
.hgroup1{
    display: flex;
    border-radius: 12px;
    justify-content: flex-start;
    }
.hsobrenosotros{
   
    justify-content: flex-start;
    color: #8F558D;
     width: 81px;
    height: 52px;
       top: 777px;
left: 120px;

}
.sobrenosotros{
    display: flex;
    background-color: white;
    font-family: "Poppins", sans-serif;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    padding-top: 0px;
     margin: auto ;
     align-content: 10px;
    
}
.jpgprovalor{
    background-color: #8F558D;
     width: 200%;
    height: 500%;
    background-image:url(https://images.unsplash.com/photo-1621370688441-8ce43a9903dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80);
    background-image:url(https://images.unsplash.com/photo-1621370688441-8ce43a9903dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80);
    position: relative;
}
#jpgprovalor1{
    
    width: 100%;
    background-position: 50% 40%;
    background-image:url(https://images.unsplash.com/photo-1521097624001-0b8aaab53a59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80);
    
    object-fit: contain;
}


.sntitulo{
   display: flex;
    justify-content: flex-start;
    color:  #0905e9;

    padding-top: 10px;
    font-family: Concept;
font-size: 30px;
font-weight: 700;
line-height: 52px;
letter-spacing: 0em;
text-align: left;

    
}
.snsubtitulo{

padding-top: 30px;
padding-bottom: 30px;
padding-right: 60px;
}
.article1 {
    
        background: white;
        margin-bottom: 10px;

}
.article2 {
    
    background: #0905e9;
    border: 0%;
    
    margin-bottom: 15px;

}

.Boton2:hover {
    
    background: rgb(9, 5, 233);
    margin-bottom: 10px;
    }
.header11 {
    display:block;
    border-radius: 255px;
}
     
body {
    display: block;
    background: hsl(261, 98%, 17%);
    width: auto;
}
.LogoGrande1 {
    display: flex;
    padding-left: 100px;
    align-items: center;
   
}




.LogoPequeno{
    padding-left: 10px;
    width: 26px;
    height: 15px;
    color: #593558;
}
#agrupar {
    /*display: flex;
    align-items: flex-start; */
    justify-content: space-between;
    width: 960px;
    margin: 15px auto;
    text-align:  left; 
}
#cabecera 
    {
    text-align: center; 
    background: #A865A6; 
    border: 1px solid #999999;
    padding: 20px;
}
#titulo {
    font: bold 36px verdana, sans-serif;
}
#menu {
    
    background-color: #ffffff;
    text-align: right; 
    padding: 7px 32px;
}
.menu{
    display: flex;
    align-items: center;   
}
.navbartop{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: white;
    border-radius: 25px;
    padding: 12px;
    background-color: white;
    
}

.titulo2{
    font-family: "concept";
    
    padding-top: 40px;
    padding-bottom: 12px;
    font-size: 50px;
    text-align: center;
    color: white;
}
.bienvenido{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    
}
.LogoGrande {
    height: 33%;
    width: 300px;
    }
a{   
    text-decoration: none;
    padding-left: 25px;
    padding-right: 10px;
    color: #1f0156;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}
.divderecha{
    display: flex;
   
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}
.botonesVar:hover{
    background-color: #0905e9;
}
#Boton{
    display: flex;
    font-family: "Poppins", sans-serif;
    
    border-radius: 9px;
    color: #593558;
    padding: 10px;
    margin-top: 20px;
    border: none;
    align-items: center;
    
}
#Boton:hover{
    color: white;
    background: #0905e9;
    font-family: "Poppins", sans-serif;
}

#Boton1{
    display: flex;
    background-color: white;
    color:#8F558D;
    padding: 12px;
    border: white(301, 25%, 35%);
    margin: 30px;

}

#Boton1:hover{
    background-color: #296599;
    color: white;
}



#arrow{
    padding-left: 10px;
    
}
#arrow:hover{
    color: white;
}
/* cierra y abre el programaw*/
#menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 7px 15px;
    font: bold 14px verdana, sans-serif;
    align-items: center;
}
#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: white;
    margin-top: 40px;
}
.bordecorrecto{
    margin-top: 60px;
    background-color: white;
}

article footer {
    text-align: right;
}
time {
    color: #999999;
}
figcaption {
    font: italic 29px monospace, sans-serif; 
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.galeria{
    display: flex;
    align-items: center;
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.recuadro1{
    
    display: flex;
    flex-direction: column;
    
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    
}
.textoinferior{
    padding: 20px;
    width: auto;
    font-family: "Poppins";
}
.negrita{
    font-weight: bold;
}
.espaciado{
    margin-bottom: 10px;
}
.imgCatalogo{
    
}
.img1{
    width: 100%;
    object-fit: fill;
    
}
.tituloFoto{
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    font-weight: 600;
    color: #0905e9;

}